*{
    margin:0;
    padding:0;
    font-family: Roboto,Arial;
}
.header{
   
    width: 100%;
    height: 100vh;
    background-image:url(photos/2ph.JPG) ;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    
}

.navbar{
    margin: auto;
    padding: 35px 0;
    display:flex;
    
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    position: flex;

   
}
.info{
    margin-right:35px;
    display:flex;
}
.info ul li{
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    
   
}
.info ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
.info ul li a:hover{
    opacity: 0.4;
}
.logo h1{
   
    color:white;
    margin-left:100px;
}
.header-info{
    color:white;
    position: absolute;
    vertical-align: center;
    text-align: center;
    bottom:350px;
    left:450px;
   
    
}

#hero{
    margin-top:20px;
    align-items: center;
    margin-left:365px;
    margin-bottom:100px;
    
}

.hero-info{
    margin-top:50px;
}
.hero-info h1{
    text-align: center;
    margin-bottom:20px;
}
.destinations{
    position: relative;
    display: inline-block;
    justify-content: center;
    margin-right: 20px;
    
}
.destinations-img{
    width:250px;
    height:300px;
    border-radius: 5px;
    
}


.destinations-info{
    position: absolute;
    bottom:150px;
    left:80px;
    color:white;
    font-size:20px;

    
}
.tourist-info{
    text-align: center;
    margin-top:80px;
  
    
    
    
}   
.yurta-img{
    
    height: 100%;
}


.search-icon-img{
    width:20px;
    background-color:#ffff;
    border-radius: none;
    border-style: none;

}


.gastronomy{
    display: flex;
    justify-content: center;
    margin-top:150px;
    
}
.gastronomy-img{
    width:300px;
    height:350px;
    border-radius: 20px;
    margin-right:25px;
}
.gastronomy-info{
    font-family: sans-serif;
    width:380px;
    line-height: 30px;
    position: relative;
   
}
.gastronomy-info h3{
    margin-top:10px;
    margin-bottom:30px;
}
.gastronomy-info p{
    color: #818087;
}
.gastronomy-info h5{
    font-size:20px;
}
.gastronomy-info h3{
    font-size:30px;
}
.gastronomy-img-head{
    position: relative;
}
.gastronomy-img-head h3{
    position: absolute;
    bottom:30px;
    color:#ffff;
    left:20px;
}
.trip-img{
    width:50px;
    margin-bottom:20px;
    
}
.trip-info{
    background-color: #f6f3f2;
    width:260px;
    padding:20px;
    margin-right:20px;
    border:2px;
    border-color: #f6f3f2;
    border-style:solid;
}
.trip-info i{
    margin-bottom:55px;
}
.trip-info p{
    margin-bottom:30px;
}
.trip-info-2{
    background-color: white;
    width:260px;
    padding:20px;
    margin-right:20px;
    border:2px;
    border-color: #f6f3f2;
    border-style:solid;
    position: relative;
    
}

.p-big{
    line-height: 20px;
    padding-bottom:70px;
}
.trip-info a{
    color:#292F33;
    padding-left:40px;
    text-decoration: none;
    
}
.trip-info-2 a{
    color:#292F33;
    padding-left:40px;
    text-decoration: none;
    
}
.trip-info-2 a:hover{
    color:rgb(255, 67, 67);
}
.trip-info a:hover{
    color:rgb(255, 67, 67);
}
.trip-info-big{
    display:flex;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
}
.trip{
    margin-top:100px;
}
.trip-story{
   margin-left:120px;
   margin-bottom:30px;
   font-size: 18px;
}
.trip-story h1{
    font-weight:400;
    margin-bottom:30px;
    margin-top:30px;
    font-size:50px;
}
.trip-info-2 img{
    padding-top:150px;
   
}
.trip-info-2 p{
    padding-bottom:60px;
}
.footer{
    margin-top:140px;
    background-image: url(photos/footer.jpg);
    
    color:white;
    padding-bottom:60px;
}
.footer-top{
    display:flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom: 20px;
}
.footer-top li a{
    text-decoration: none;
    color:#818087;
   
}
.footer-top li a:hover{
    cursor: pointer;
   opacity: 0.4;
}
.footer-top li{
    list-style: none;
    margin-top:10px;
}
.footer h1{
    margin-bottom:20px;
    margin-left: 20px;
}
.footer-social{
    display:grid;
}
.footer-bottom{
    display: flex;
    padding-bottom:30px;
    margin-top:20px;

}
.footer-bottom i{
    margin-left:20px;
    margin-right:10px;
    
}
.footer h1{
    padding-top:20px;
}

.calculator{
    border-style:none;
    background-color: white;
    font-size:17px;
}
.calculator:hover{
    opacity: 0.4;
}
.cities-img-main{
    height:270px;
}
.cities-img{
    width:270px;
    height:100%;
    border-radius: 15px;;
}
.cities-paragraph{
    display:flex;
    justify-content: center;
}
.cities-main{
    margin-right:15px;
}
.cities-info{
    margin-left:190px;
}
.img-cities-position{
    position:relative;
    height:270px;
    
}
.heart{
    position: absolute;
    top:10px;
    right:10px;
    background-color:white;
    border-radius: 25px;
    padding:10px;
}
.cities-info p{
    margin-top:20px;
    margin-bottom:20px;
}
.heart:hover{
    opacity:0.3;
}
.cities-main h2{
    width:250px;
}
.cities{
    margin-bottom:250px;
}


.booking-kz{
    background-image: url(https://muffingroup.com/blog/wp-content/uploads/2021/03/gr.jpg);
    padding-top:300px;
    padding-bottom:400px;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top:100px;
    
    
}
.booking-info {
    color:white;
    
    width:478px;
    
    
}
.booking-info h1{
    font-size:58px;
    margin-bottom:20px;
}
.booking-info p{
    line-height: 40px;
    font-size:28px;
}
.booking-tip{
    background-color:white;
    padding-top:30px;
    padding-left:50px;
    border-radius: 10px;
    margin-left:100px;
    width:680px;
    padding-bottom:40px;
    
}
.booking-tip2{
    width:616px;
}
.booking-tip2 input{
    width:100%;
    height:35px;
    border-style:none;
    background-color: #F6F6F6;
    border-radius:10px;
}
.departure-bok{
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex:1;
}
.booking2-kz{
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
}
.booking2-kz input{
    padding-left:10px;
}
.text-holder{
    display:flex;
    border-style: none;
    justify-content: space-around;
}
.calendar{
    position:absolute;
    right:5px;
    bottom:15px;
}
.text-holder-1{
    position:relative;
    width:180px;
   
}
.amount-person{
    display:flex;
    background-color: #F6F6F6;
    justify-content: space-between;
    margin-bottom:20px;

}
.amount{
    display:flex;
    padding:10px;
    justify-content: space-between;
    font-size:14px;
}
.plus-minus{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-left:20px;
}
.plus-minus p{
    margin-left:3px;
    margin-right:3px;
}
.booking-tip2 button{
    width: 100%;
    border-style:none;
    background-color: #EF3A50;
    color:white;
    font-size:14px;
    padding:14px;
    border-radius: 10px;
    font-weight: bold;
}
.booking-img{
    width: 140px;
    padding-left:40%;
}
.booking-img-1{
    margin-top:20px;
}
.instagram-photos{
    margin-top:100px;
}
.instagram-photos p{
    padding-left:65px;
    margin-bottom:30px;
    font-weight: bold;
}
.instagram-imeges{
    display:flex;
    justify-content: center;

}
.instagram-img{
    width:250px;
}
